<div class="col-lg-8 mt-4 ">
  <div class="card shadow mb-3 ">
    <div class="card-body">
      <h4 class="card-title"><%= @workshop.name %> </h4>
      <div class="row mt-3">
        <div class="col-lg-7">
          <h4><span class="badge bg-primary"><%= @workshop.total_duration  %> </span></h4>
          <h4><span class="badge bg-primary"><%= @workshop.daily_duration  %> </span></h4>
        </div>
        <div class="col-lg-5">
          <h4>Total Sits: <span class="badge bg-primary"> <%= @workshop.total_sits %> </span></h4>
          <h4>Remaining Sits: <span class="badge bg-primary"> <%= @workshop.remaining_sits %> </span></h4>
          <h4>Resgistration Fee: <span class="badge bg-primary"> <%= @workshop.registration_fee %> </span></h4>
        </div>
      </div>
      <p class="lead mt-3 mb-3"><%= @workshop.description %></p>
      <%= link_to 'Back to Workshops', workshops_path, class: "btn btn-outline-danger btn-lg mt-3" %>
   </div>
</div>
<div class="col-lg-4 mt-4">
</div>